section.blog-title
  .flex.flex--center
    .col-80
        p.home-lead
          span.skill Chris' Confessions
        p Every month, I make posts about all the cool things I saw, read, listened to, 
          ad or thought.
