section.blog-list
  .flex.flex--center
    .col-80
      ul
          li
            h2
              a(href="/2019/01/08/birthdays.html") Birthdays
              h4
                p Here are all my thoughts gathered up before my semester abroad
