mixin nav-content()
	ul
		li: a(id="default" class="highlight" onclick="highlight(this);" href="/") Home
		li: a(onclick="highlight(this);" href="/about") About
		li: a(onclick="highlight(this);" href="/resume") Resume
		li: a(onclick="highlight(this);" href="/portfolio") Portfolio
		//- li: a(href="/blog") Blog
		li: a(onclick="highlight(this);" href="mailto:chrisjobando@gatech.edu") Contact

.mobile-nav
	+nav-content()

header
	.header-position
		a.logo(href="/") Christopher Obando

		nav.site-nav
			+nav-content()

		.copy
			p © 2019 Chris Obando.
			p All Rights Reserved

		.mobile-nav-toggle: span
			script(src="https://code.jquery.com/jquery-1.11.0.min.js")
			script(src="/assets/js/functions.js")
			script(src="/assets/js/gba_loader.js")
