section.portfolio-shadowknight
  .flex.flex--center
    .col-80
      .rect
        p.home-lead: a(href="/shadowknightGBA")
          span.skill Shadow Knight
          img(src="/assets/img/ShadowKnight.png")
