section.resumepage
  .flex.flex--center
    .col-80
      .rect
        p.home-lead My Resume
        p
          a.skill(href="/assets/Obando_C_Resume.pdf" download="ObandoChristopher_Resume.pdf") Click here to download PDF
        p
          img(src="/assets/img/resume.jpg")
