section.notes
  .flex.flex--center
    .col-80
      .rect
        .flex.flex--center
          .col-2
            p.home-lead Sign up for Chris' Notes!

            .note-signup-box.
              <div id="mc_embed_signup">
                <form action="https://github.us7.list-manage.com/subscribe/post?u=93526193f4277ff64a96284e0&amp;id=29966d00de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <div class="form-display">
                      <div class="mc-field-group">
                        <label for="mce-FNAME">First Name </label>
                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                      </div>
                      
                      <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                      </div>
                      
                      <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                      </div>    

                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                          <input type="text" name="b_93526193f4277ff64a96284e0_29966d00de" tabindex="-1" value="">
                        </div>
      
                        <div class="clear">
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </div>
                    </div>
                </form>
              </div>

        .flex.flex--center
          .col-3
            p Chris' Notes are short weekly email messages that include recommendations for cool media I enjoyed that week and progress on my long-term projects!

          .col-3
            p Here is an archive to previous Notes that I have released:

            ul
              li: a(href="https://us7.campaign-archive.com/?u=93526193f4277ff64a96284e0&id=ec6712d2c6" target="_blank") First Note
              li: a(href="https://mailchi.mp/7a12828d7734/k6q8ettyhq-2260421" target="_blank") Second Note
              li: a(href="https://mailchi.mp/28d9b0a98edd/k6q8ettyhq-2265173" target="_blank") Third Note
