section.aboutme
	.flex.flex--center
		.col-80
			.rect
				p.home-lead Hey! My name is Christopher.
				p I'm a second-year Computer Science major at Georgia Tech, with a minor in Film and Media Studies. I have experience with object-oriented programming and Android development in Java, general-purpose programming and Game Boy development in C, Web Development and Web Design in Jekyll, Pug, Gulp and SASS, and graphic design in open-source programs such as GIMP and Inkscape as well as professional editing software such as Photoshop.

				p Growing up as a first-generation Hispanic-American right outside of DC, I felt trapped within a community with few public resources and fewer means of growth for those who did not take risks. I looked to music and my television as a means of escape from reality, and the amazing production in the music videos I watched and films I saw inspired me to pursue a career in computer graphic design.

				p Once I arrived at Georgia Tech, I came with a strong passion for technology, but was unsure what courses best fit my interests. When I found out about the Media and People threads for Computer Science, I made the switch halfway through my first semester to Computer Science to improve my basic programming skills and learn how to turn code that I develop into an experience for users. In the upcoming semesters, I am taking high-level UI/UX CS courses as well as 3D design courses offered by the School of Industrial Design. This, combined with production skills from my Film Studies Minor, will aid me in a career in 3D Animation and/or Media Production.

				p For me, the wonders of seeing the dinosaurs in Jurrasic Park or the pod-racing scene in The Phantom Menace or my favorite childhood hero, Spider-Man, swing across New York City through the use of CGI gave me a sense of wonder and joy that I needed during some rough times. I aim to one day create that same feeling for someone else through my digital creations.

				p In my free time, I enjoy listening to indie R&B music, and playing guitar/singing at open-mic nights in the GT Student Center. I watch a lot of films, and am an amateur filmmaker current working on a new short film this year! I also am always sketching on my notepad, and am working towards publishing more of my illustrations online.
				
<!--
	ad My name is Christopher Obando and I study Computer Science and Film Studies at 
	span.skill Georgia Tech
	ad . My threads (concentrations) are 
	span.skill Media
	as  and 
	span.skill People
	ad . I value quality 3D graphic design and innovative software experiences.
-->