section.portfolio
  .flex.flex--center
    .col-80
      .rect
        p.home-lead Follow me on other platforms!
        
        .flex.flex--space-around
          .col-4
            a(href="https://github.com/chrisjobando/" target="_blank")
              img(src="/assets/img/github.gif" style="width:80px;height:80px;border:0;")
            p Github
          
          .col-4
            a(href="https://linkedin.com/in/chrisjobando/" target="_blank")
              img(src="/assets/img/linkedin.gif" style="width:80px;height:80px;border:0;")
            p LinkedIn

          .col-4
            a(href="https://dribbble.com/chrisjobando" target="_blank")
              img(src="/assets/img/dribbble.gif" style="width:80px;height:80px;border:0;")
            p Dribbble
          
        .flex.flex--space-around
          .col-4
            a(href="https://www.instagram.com/chris.obando/" target="_blank")
              img(src="/assets/img/instagram.gif" style="width:80px;height:80px;border:0;")
            p Instagram
        
          .col-4
            a(href="https://open.spotify.com/user/chrisjobando" target="_blank")
              img(src="/assets/img/spotify.gif" style="width:80px;height:80px;border:0;")
            p Spotify
            
          .col-4
            a(href="https://letterboxd.com/chrisjobando/" target="_blank")
              img(src="/assets/img/letterboxd.png" style="width:80px;height:80px;border:0;")
            p Letterboxd
