section.resume
	.flex.flex--center
		.col-80
			.rect
				.flex.flex--space-around
					ul Projects:
						li: a(href="/shadowknightGBA" target="")
							.logo GIF
							.title Shadow Knight (CS2261)
							.text A Mode-0 Game Boy game developed in C
						li: a(href="https://github.com/team-splash/cs-2340" target="_blank")
							.logo2 GIF
							.title Donation Tracker App (CS2340)
							.text Java-based Android App to track donations to non-profit organizations in Atlanta
						li: a(href="http://grandchallenges.gatech.edu/content/caelum-diagnostics" target="_blank")
							.logo3 GIF
							.title Caelum Diagnostics (GC 2017)
							.text MATLAB-based program to monitor solar panel statistics and warn home-owners of possible damage to their panels
						li: a(href="http://github.com/chrisjobando/reactWebsite" target="_blank")
							.logo4 GIF
							.title React App Site (Personal Ongoing)
							.text React.js Web Development Practice - Familiarizing myself with APIs and JavaScript
					ul Skills:
						li: a()
							.title Platforms
							ad.text Linux Ubuntu, Microsoft Windows, macOS
						li: a()
							.title Programming
							ad.text Java/JavaFX, C, Command Line, Python, MATLAB
						li: a()
							.title Web Design
							ad.text Jekyll, Gulp, Jade/Pug, SASS/SCSS, React.js, JavaScript, HTML, CSS, Atom, Sublime Text 3
						li: a()
							.title Graphic Design
							ad.text Inkscape, GIMP, Adobe Photoshop, Autodesk Maya
						li: a()
							.title Foreign Languages
							ad.text Native Spanish
