section.portfolio
	.flex.flex--center
		.col-80
			.rect
				p.home-lead Check out my work:
				
				.flex.flex--space-around
					.col2
						a(href="https://github.com/chrisjobando/" target="_blank")
							img(src="/assets/img/github.gif" style="width:80px;height:80px;border:0;")
						p Github

					.col2
						a(href="https://dribbble.com/chrisjobando" target="_blank")
							img(src="/assets/img/dribbble.gif" style="width:80px;height:80px;border:0;")
						p Dribbble