section.resume
	.flex.flex--center
		.col-80
			.rect
				.flex.flex--space-around
					ul Projects:
						li: a()
							.logo GIF
							.title Shadow Knight (CS2261)
							.text A Mode-0 Game Boy game developed in C
						li: a()
							.logo2 GIF
							.title Donation Tracker App (CS2340)
							.text Java-based Android App to track donations to non-profit organizations in Atlanta
						li: a()
							.logo3 GIF
							.title Caelum Diagnostics (GC'17)
							.text MATLAB-based program to monitor solar panel statistics and warn home-owners of possible damage to their panels
					ul Skills:
						li: a()
							.title Platforms
							ad.text Linux Ubuntu, Microsoft Windows, macOS
						li: a()
							.title Programming
							ad.text Java/JavaFX, C, Command Line, Python, MATLAB
						li: a()
							.title Web Design
							ad.text Jekyll, Gulp, Jade/Pug, SASS/SCSS, JavaScript, HTML, CSS, Sublime Text 3
						li: a()
							.title Graphic Design
							ad.text Inkscape, GIMP, Adobe Photoshop, Autodesk Maya
						li: a()
							.title Foreign Languages
							ad.text Native Spanish