section.about
	.flex.flex--center
		.col-80
			.rect
				p.home-lead Who am I?
				p
					ad My name is 
					span.skill Christopher Obando
					ad  and I study 
					span.skill Computer Science and Film Studies
					ad  at 
					span.skill Georgia Tech
					ad . My threads (concentrations) are 
					span.skill Media
					as  and 
					span.skill People
					ad . I value quality 3D graphic design and innovative software experiences.

				p 
					ad This Spring semester I am studying abroad in 
					span.skill Madrid
					ad . I am focusing my studies on 
					span.skill Video Production
					ad  and spending my free time working on improving my 3D modeling skills. Look out for personal project updates in my portfolio!