/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYXgKVElMYYaJe8bpLHnCwDKhdHeFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYX-KVElMYYaJe8bpLHnCwDKhdTuF6ZJ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"), url(https://fonts.gstatic.com/s/karla/v6/qkBbXvYC6trAT7RVLtw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* RGB */
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #95a3b3;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: white;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d3f3eb; }

::-moz-selection {
  background: #84dcc6; }

::selection {
  background: #84dcc6; }

::-moz-selection {
  background: #84dcc6; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #84dcc6; }

body {
  background: #222222;
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Karla' sans-serif;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.home-wrap header {
  width: 150px;
  background: #222222;
  padding: 30px 0;
  color: white;
  font-family: 'Karla'; }
  .home-wrap header .header-position {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 1px;
    width: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    transition: all 0.3s ease-in-out; }
  .home-wrap header .logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    max-width: 150px;
    background-image: url(/assets/img/logo-notext.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 2; }
  .home-wrap header .site-nav ul {
    list-style: none;
    margin: 20px 0;
    padding: 0 20px 0 0;
    text-align: right; }
    .home-wrap header .site-nav ul li {
      color: white;
      margin-bottom: 15px; }
      .home-wrap header .site-nav ul li:last-child {
        margin-bottom: 0; }
      .home-wrap header .site-nav ul li a {
        position: relative; }
        .home-wrap header .site-nav ul li a::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #95a3b3;
          bottom: 0;
          left: 0;
          -webkit-transform: scaleX(0);
                  transform: scaleX(0); }
        .home-wrap header .site-nav ul li a:hover::after {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1); }
      .home-wrap header .site-nav ul li .active {
        color: #ffc914; }
  .home-wrap header .copy {
    display: block;
    text-align: right;
    padding-right: 20px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-size: 10px; }
    .home-wrap header .copy p {
      margin-bottom: 1px; }
  .home-wrap header .mobile-nav-toggle {
    display: none;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
    z-index: 2; }
    .home-wrap header .mobile-nav-toggle span,
    .home-wrap header .mobile-nav-toggle span:before,
    .home-wrap header .mobile-nav-toggle span:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: white;
      position: relative;
      transition: all 0.3s ease-in-out; }
    .home-wrap header .mobile-nav-toggle span:before {
      top: 15px; }
    .home-wrap header .mobile-nav-toggle span:after {
      bottom: 17px; }
    .home-wrap header .mobile-nav-toggle.is-open span {
      background: transparent; }
    .home-wrap header .mobile-nav-toggle.is-open span:before,
    .home-wrap header .mobile-nav-toggle.is-open span:after {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0; }
    .home-wrap header .mobile-nav-toggle.is-open span:before {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.home-wrap .mobile-nav {
  font-family: 'Karla';
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: #222222;
  padding: 30px 0 20px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 0.3s ease-in-out; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .home-wrap .mobile-nav li {
    text-align: center;
    margin-bottom: 10px;
    position: relative; }

@media (max-width: 775px) {
  .home-wrap header {
    width: auto;
    padding: 20px 0; }
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center; }
    .home-wrap header .site-nav,
    .home-wrap header .copy,
    .home-wrap header .email-link {
      display: none; }
    .home-wrap header .logo {
      height: 45px; }
    .home-wrap header .mobile-nav-toggle {
      display: -ms-flexbox;
      display: flex; }
  .home-wrap .mobile-nav.is-open {
    display: block;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

section.about {
  background-image: url(../img/about-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  color: white;
  font-family: 'Karla'; }
  section.about .rect {
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    position: center top; }
    section.about .rect p {
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      margin-top: 0;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px; }
      section.about .rect p:last-child {
        padding-top: 2px;
        padding-bottom: 15px; }
    section.about .rect .home-lead {
      font-size: 40px;
      font-weight: 800;
      padding-top: 5px;
      transition: all 0.3s ease-in-out; }
    section.about .rect .skill {
      color: #ffc914;
      font-weight: 800; }

section.resume {
  background-image: url(../img/resume-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  color: white;
  font-family: 'Karla'; }
  section.resume .rect {
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    position: center top; }
    section.resume .rect ul {
      max-width: 400px;
      font-size: 30px;
      font-weight: 400;
      line-height: 1;
      margin-top: 0;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 5px;
      list-style: none;
      font-weight: 800;
      padding-left: 10px; }
      section.resume .rect ul:last-child {
        padding-top: 100px; }
      section.resume .rect ul li {
        text-align: left;
        margin-top: 5px;
        font-size: 18px;
        margin-bottom: 10px; }
      section.resume .rect ul .title {
        color: #ffc914;
        font-weight: 800; }
      section.resume .rect ul .text {
        color: white;
        font-weight: 400; }
      section.resume .rect ul .logo {
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        line-height: 2;
        background-position: left;
        background-image: url(/assets/img/shadowKnight.gif);
        background-repeat: no-repeat; }
      section.resume .rect ul .logo2 {
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        line-height: 2;
        background-position: left;
        background-image: url(/assets/img/app.gif);
        background-repeat: no-repeat;
        background-size: contain; }
      section.resume .rect ul .logo3 {
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        line-height: 2;
        background-position: left;
        background-image: url(/assets/img/solar.gif);
        background-repeat: no-repeat;
        background-size: contain; }
      section.resume .rect ul .logo4 {
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        line-height: 2;
        background-position: left;
        background-image: url(/assets/img/react.gif);
        background-repeat: no-repeat;
        background-size: contain; }

section.notes {
  background-image: url(../img/notes-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  color: white;
  font-family: 'Karla'; }
  section.notes .rect {
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    position: center top; }
    section.notes .rect .flex.flex--center p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      margin-top: 0;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px; }
      section.notes .rect .flex.flex--center p:last-child {
        padding-top: 2px;
        padding-bottom: 10px; }
    section.notes .rect .flex.flex--center .home-lead {
      font-size: 40px;
      font-weight: 800;
      padding-top: 5px; }
    section.notes .rect .flex.flex--center .col-3 p {
      padding-left: 10px;
      text-align: left;
      font-style: italic;
      margin: 0; }
    section.notes .rect .flex.flex--center .col-3:first-child p {
      padding-left: 0;
      padding-right: 30px;
      text-align: right;
      border-right: solid 2px white; }
    section.notes .rect .flex.flex--center .col-3 a {
      text-decoration: underline; }
    section.notes .rect .flex.flex--center .col-3 ul {
      list-style: none;
      padding-left: 10px; }
    @media (max-width: 640px) {
      section.notes .rect .flex.flex--center .col-3 p {
        padding: 10px 0; }
      section.notes .rect .flex.flex--center .col-3:first-child p {
        padding: 0;
        text-align: left;
        border: none; } }

.form-display {
  background: rgba(255, 255, 255, 0.3);
  border: 4px solid white;
  box-shadow: 0px 3px 8px rgba(132, 220, 198, 0.3);
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0; }
  @media (max-width: 590px) {
    .form-display {
      display: block; } }
  .form-display input {
    position: relative;
    border: 0;
    background: none;
    padding: 0;
    display: block;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    color: white;
    font-size: 14px; }
    .form-display input:focus {
      outline: none; }
    .form-display input[type="submit"] {
      -ms-flex: 1;
          flex: 1;
      background: white;
      color: #222222;
      font-size: 24px; }
  .form-display label {
    position: absolute;
    z-index: 2;
    font-size: 12px;
    left: 5px; }
  .form-display .mc-field-group {
    position: relative;
    -ms-flex: 2;
        flex: 2; }
    .form-display .mc-field-group:first-child {
      border-right: 4px white solid; }
    @media (max-width: 590px) {
      .form-display .mc-field-group:first-child {
        border-right: none;
        border-bottom: 4px white solid; } }

section.portfolio {
  background-image: url(../img/portfolio-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  color: white;
  font-family: 'Karla'; }
  section.portfolio .rect {
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    position: center top; }
    section.portfolio .rect p {
      position: relative;
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      margin-top: 0;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 15px; }
    section.portfolio .rect .home-lead {
      font-size: 40px;
      padding-bottom: 3px;
      font-weight: 800; }
    section.portfolio .rect .flex.flex--space-around .col-4 img {
      display: block;
      border-radius: 50%; }
    section.portfolio .rect .flex.flex--space-around .col-4 p {
      display: block;
      color: #ffc914; }

section.aboutme {
  background-image: url(../img/about-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  color: white;
  font-family: 'Karla'; }
  section.aboutme .rect {
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    position: center top; }
    section.aboutme .rect p {
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      margin-top: 0;
      text-align: left;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px; }
    section.aboutme .rect .home-lead {
      font-size: 40px;
      font-weight: 800;
      text-align: center;
      padding-top: 10px;
      transition: all 0.7s ease-in-out; }
    section.aboutme .rect .skill {
      color: #ffc914;
      font-weight: 800; }

section.portfolio-shadowknight {
  background-image: url(../img/portfolio-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  color: white;
  font-family: 'Karla'; }
  section.portfolio-shadowknight .rect {
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    position: center top; }
    section.portfolio-shadowknight .rect p {
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      margin-top: 0;
      text-align: left;
      padding-top: 3px;
      padding-left: 10px;
      padding-right: 10px; }
      section.portfolio-shadowknight .rect p img {
        padding-top: 10px;
        display: -ms-flexbox;
        display: flex;
        margin-left: auto;
        margin-right: auto; }
    section.portfolio-shadowknight .rect .home-lead {
      font-size: 40px;
      font-weight: 800;
      text-align: center;
      padding-top: 10px;
      transition: all 0.7s ease-in-out; }
    section.portfolio-shadowknight .rect .skill {
      color: #ffc914;
      font-weight: 800; }

section.shadowknight {
  background-image: url(../img/resume-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  color: white;
  font-family: 'Karla'; }
  section.shadowknight .rect {
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    position: center top; }
    section.shadowknight .rect p {
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      margin-top: 0;
      text-align: left;
      padding-top: 3px;
      padding-left: 10px;
      padding-right: 10px; }
    section.shadowknight .rect ul {
      text-align: center; }
      section.shadowknight .rect ul li {
        text-align: left; }
      section.shadowknight .rect ul .char {
        color: #ffc914;
        list-style: none; }
      section.shadowknight .rect ul .none {
        list-style: none; }
    section.shadowknight .rect .action.gba_loader div {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      margin-top: 0;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 10px;
      color: #ffc914; }
    section.shadowknight .rect .home-lead {
      font-size: 40px;
      font-weight: 800;
      text-align: center;
      padding-top: 10px;
      transition: all 0.7s ease-in-out; }
    section.shadowknight .rect .skill {
      color: #ffc914;
      font-weight: 800; }

section.resumepage {
  background-image: url(../img/resume-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  color: white;
  font-family: 'Karla'; }
  section.resumepage .rect {
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    position: center top; }
    section.resumepage .rect p {
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px; }

.home-wrap {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  @media (max-width: 775px) {
    .home-wrap {
      display: block; } }

.home-sections {
  -ms-flex: 1;
      flex: 1; }
  .home-sections section {
    padding: 50px 0; }
  .home-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: rows;
        flex-direction: rows; }
  .home-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .home-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .home-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.about-sections {
  -ms-flex: 1;
      flex: 1; }
  .about-sections section {
    padding: 50px 0; }
  .about-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: rows;
        flex-direction: rows; }
  .about-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .about-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .about-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.blog-sections {
  -ms-flex: 1;
      flex: 1; }
  .blog-sections section {
    padding: 50px 0; }
  .blog-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: rows;
        flex-direction: rows; }
  .blog-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .blog-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .blog-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.resume-sections {
  -ms-flex: 1;
      flex: 1; }
  .resume-sections section {
    padding: 50px 0; }
  .resume-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: rows;
        flex-direction: rows; }
  .resume-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .resume-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .resume-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.portfolio-sections {
  -ms-flex: 1;
      flex: 1; }
  .portfolio-sections section {
    padding: 50px 0; }
  .portfolio-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: rows;
        flex-direction: rows; }
  .portfolio-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .portfolio-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .portfolio-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.game-sections {
  -ms-flex: 1;
      flex: 1; }
  .game-sections section {
    padding: 50px 0; }
  .game-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: rows;
        flex-direction: rows; }
  .game-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .game-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .game-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.col-1 {
  max-width: 300px;
  margin: 0 10px; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-3 {
  max-width: 400px;
  margin: 0 10px; }

.col-4 {
  max-width: 80px;
  margin: 0; }

.col-50 {
  width: 50%; }

.col-80 {
  width: 80%; }

@media (max-width: 640px) {
  .home-sections .flex {
    display: block; }
  .about-sections .flex {
    display: block; }
  .portfolio-sections .flex {
    display: block; }
  .resume-sections .flex {
    display: block; }
  .game-sections .flex {
    display: block; }
  .col-1 {
    max-width: 100%; }
  .col-2 {
    max-width: 100%; }
  .col-4 {
    max-width: 100%; }
    .col-4 img {
      margin-left: auto;
      margin-right: auto; }
  .col-50 {
    width: auto; }
  .col-80 {
    width: auto; }
  .push-right {
    margin-left: 330px; } }

.home-lead {
  font-size: 36px;
  line-height: 1.1; }
