section.resumepage
  background:
    image: url(../img/resume-bg.jpg)
    position: center bottom
    size: cover
  color: $text-color
  font-family: 'Karla'

  .rect
    height: 100%
    width: 100%
    background-color: rgba(34, 34, 34, .85)
    position: center top

    p
      padding-top: 30px
      padding-left: 10px
      padding-right: 10px
