section.resumepage
  background:
    image: url(../img/resume-bg.jpg)
    position: center bottom
    size: cover
  color: $text-color
  font-family: 'Karla'

  iframe, object, embed
    max-width: 100% !important
    max-height: 100% !important
