section.about
	background:
		image: url(../img/about-bg.jpg)
		position: center bottom
		size: cover
	color: rgba(255, 201, 20, 1)

	.rect
		height: 100%
		width: 100%
		background-color: rgba(46, 82, 102, 1)
		opacity: .85
		position: center top

		p
			font:
				size: 30px
				weight: 400
			line-height: 1
			margin-top: 0
			text-align: center
			padding-top: 10px
			padding-left: 10px
			padding-right: 10px

		.home-lead
			font-size: 50px
			padding-bottom: 10px