section.about
	background:
		image: url(../img/about-bg.jpg)
		position: center bottom
		size: cover
	color: $text-color
	font-family: 'Karla'

	.rect
		height: 100%
		width: 100%
		background-color: $bg-color
		opacity: .85
		position: center top

		p
			font:
				size: 20px
				weight: 400
			line-height: 1
			margin-top: 0
			text-align: center
			padding-top: 5px
			padding-left: 10px
			padding-right: 10px

		.home-lead
			font-size: 40px
			font-weight: 800
		
		.skill
			color: $bold-color
			font-weight: 800